.icon-wrapper {
  border-radius: 100%;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2px;
  color:rgba(256,63,128,0.5) ;
}
.icon-wrapper:hover {  
  background-color: rgba(256,63,128,0.2);
}