.skeleton-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.skeleton-image {
  height: 12rem;
  width: 35%;
}

.first-dialog{
  height: 1rem;
}

.second-dialog{
  height: 1rem;
  width: 60%;
}

.data-container{
    width: 60%;
    margin-left: 24px;
}