:host {

  mat-form-field::ng-deep {
    width: 100%;

    div.mat-form-field-wrapper {

      margin-top: 7px;

    }

    .mat-form-field-flex {

      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.toolbar-container{
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.lang-select{
  text-align: right;
}

.filter-icon{
  display: none;
}

@media (max-width:950px){

  .sort-select{
    display: none;
  }

  .display-mode{
    display: none !important;
  }

  .filter-icon{
    display: flex;
    justify-content: right;
    cursor: pointer;
  }

  .lang-select{
    display: none;
  }

}