<div class="p-3 d-felx justify-content-center w-100">
  <h3 class="text-center">{{'SIDEBAR.FILTER' | translate}}</h3>
  <div class="mt-2">
    <section class="example-section">
      <h4>{{'SIDEBAR.BY-TYPE' | translate}}:</h4>
      <p *ngFor="let item of (typesOptions$ | async)">
        <mat-checkbox (change)="handleCheck($event,item)" [checked]="selectedTypes.has(item)">{{item | titlecase}}
        </mat-checkbox>
      </p>
    </section>
  </div>
  <div class="mt-4">
    <h4>{{'SIDEBAR.BY-PRICE' | translate}}:</h4>
    <mat-slider (change)="handlePriceChange($event)" [(ngModel)]="selectedRange" class="example-margin"
      [value]="selectedRange" [max]="priceRange[1]" [min]="priceRange[0]" [step]="2" [thumbLabel]="true"
      aria-labelledby="example-name-label">
    </mat-slider>
  </div>
</div>