.grid-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
  min-width: 360px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin:20px;
}

h2 {
  max-width: 197px;
  text-align: center;
  font-size: 16px;
}

.product-type {
 color: rgba(256,63,128);
}

@media (max-width:950px){

  .grid-container{
    justify-content: center;
  }

}

