<div class="grid-container">
  <ng-container *ngFor="let item of products">
    <div class="card p-2">
      <div class="image-container">
        <img [src]="item.image.src" alt="productImg.png">
      </div>
      <div class="row product-info">
        <div class="col-12 text-center">
          <h2>{{item.title}}</h2>
        </div>
        <div class="col-12">
          <span class="product-type"> <strong>{{item.product_type | titlecase}}</strong> </span>
          <br>
          <span class="sold-label">
            <strong>{{'PRODUCTS.SOLD' | translate}}: </strong> {{item.quantitySold | number: '1.0-0':locale}}
          </span>
        </div>
      </div>
    </div>
  </ng-container>
</div>