<section class="grid-container">
  <ng-container *ngIf="!loading">
    <article class="card p-2" *ngFor="let item of products">
      <div class="image-container">
        <img [src]="item.image.src" alt="productImg.png">
      </div>
      <div class="row product-info">
        <div class="col-12 text-center">
          <h2>{{item.title}}</h2>
        </div>
        <div class="col-12">
          <span class="product-type"> <strong>{{item.product_type | titlecase}}</strong> </span>
          <br>
          <span class="sold-label">
            <strong>{{'PRODUCTS.SOLD' | translate}}: </strong> {{item.quantitySold | number: '1.0-0':locale}}
          </span>
        </div>
      </div>
    </article>
  </ng-container>

  <ng-container *ngIf="loading">
    <app-grid-skeletons *ngFor="let item of [1,2,3,4,5,6,7,8]"></app-grid-skeletons>
  </ng-container>


</section>