.dashboard-container {
  display: flex;
  height: 100vh;
}
.products-list{
  width: 85%;
}
.products-container {
  background-color: rgba(243,244,246,1);
  min-height: 100vh;
}
.sidebar{
  width: 15%;
}
.loading-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found {
  width: 54.333333%;
}

@media (max-width:950px){
  .products-list{
    width: 100%;
  }
  .sidebar{
    display: none;
  }
}