<div class="dashboard-container">

  <div class="sidebar border-end">
    <app-sidebar-filters></app-sidebar-filters>
  </div>

  <div class="products-list">
    <app-toolbar></app-toolbar>

    <div class="products-container">

      <app-grid-products *ngIf="(displayMode$ | async) === gridMode" [products]="(products$ | async)">
      </app-grid-products>

      <app-list-products *ngIf="(displayMode$ | async) === listMode" [products]="(products$ | async)">
      </app-list-products>

      <div class="loading-container" *ngIf="(fetchPending$ | async)">

        <mat-progress-spinner class="example-margin" color="accent" mode="indeterminate">
        </mat-progress-spinner>

      </div>

      <div class="text-center" *ngIf="!(products$ | async)?.length && !(fetchPending$ | async)">
        <img class="not-found" src="./assets/img/no-result.svg" alt="">
        <p class="mt-4 text-secondary">{{'DASHBOARD.NOT-FOUND' | translate}}</p>
      </div>

    </div>

  </div>


</div>