<div class="dashboard-container">

  <div class="sidebar border-end">
    <app-sidebar-filters></app-sidebar-filters>
  </div>

  <div class="products-list">
    <app-toolbar></app-toolbar>
    <div class="products-container">
      <app-grid-products [products]="(products$ | async)"> </app-grid-products>
      <div class="loading-container" *ngIf="(fetchPending$ | async)">
        <mat-progress-spinner class="example-margin" color="accent" mode="indeterminate">
        </mat-progress-spinner>
      </div>
    </div>
  </div>


</div>