.list-container {
padding: 5px;
}

.card {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  margin:10px;
}

h2 {
  font-size: 16px;
}

.product-type {
  color: rgba(256,63,128);
}

.sold-label {
  color: rgba(0,0,0,0.5);
}

.image-container {
  position: relative;
  height: 12rem;
}

img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media (max-width:950px){

  .grid-container{
    justify-content: center;
  }

}

